* { font-size: 1em; font-family: sans-serif, arial, verdana; }
p {	margin: 6px 0px 6px 0px; padding: 0px; font-size: 1em; line-height: 1.5em; }
h1 { margin: 0px 0px 20px 0px;	color: rgb(64,64,64); font-size: 2em; line-height: 1em; border-bottom: 1px solid #ccc; }

body {
	height: 100%;
	color: rgb(64,64,64);
	background-color: #f6f6f6;
	margin: 0px;
	padding: 0px;
	font-size: 12pt;
}

#header {
	width: 100%;
	font-size: 0.85em;
	text-align: left;
}

fieldset {
	border: 1px solid #ccc;
	margin-bottom: 10px;
}

#app_bar {
	background-color: rgb(64,64,64);
	padding: 10px 0px 10px 0px;
	border-bottom: 1px solid rgb(96,96,96);
	color: #fff;
	font-weight: bold;
	line-height: 30px;
	overflow: auto;
}

#app_bar #title_logo {
	width: 175px;
	padding-left: 10px;
	float: left;
	vertical-align:middle;
}

#app_bar #title_text {
	float:left;
	line-height: 50px;
}

#container {
	height: 100%;
}

#main {
	overflow:hidden;
	width: auto;
	padding: 0px;
	background-color: #f6f6f6;
	font: 0.84em/0.9em sans-serif, arial, helvetica, sans-serif;
}

#stagebar {
	max-width:1200px;
	margin: 0 auto;
	min-height: 50px;
	background:#404040;
	border: 1px solid #404040;
}

#stagebar .text {
	color: white;
	line-height: 50px;
	font-size: 1.1em;
	padding-left: 15px;
	padding-right: 15px;
}

#content {
	margin: 0px;
	padding: 30px;
}

.content_box {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 10px;
	-moz-border-radius: 10px;
	line-height: 1.1em;
	max-width: 1200px;
	margin: 0 auto;
	border-top: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	padding-top: 20px;
}

.content_box .text {
	padding: 15px;
}

.content_box h2 { margin: 10px 0px 10px 0px; }

.error {
	color: red;
}
